body {
	/* font-family: system-ui, sans-serif;
	-webkit-font-smoothing: antialiased; */
	
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,Cantarell, "Helvetica Neue", sans-serif;
	text-rendering: geometricPrecision;
	line-height:1.5;
	font-size: 13px;
	
	
	width:700px; /* 60rem original width */
	margin: 0 auto;
	
}

