
/* fonts*/
:root {
	/*--font-family: -apple-system, system-ui, sans-serif;*/
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,Cantarell, "Helvetica Neue", sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
	--font-family-quote: Palatino;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;
	--color-gray-100: #111;
	

	/*--background-color: #fff;*/
	--background-color: #F9F7F1;
	--text-color: #353D2F; /*black olive*/
	/* --text-color: #515B3A; /*dark moss green*/
	/*--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F; */
	--textlight:  #3A506B;
	
	/* Azzurro 
	--text-color-decoration: rgba(38, 132, 186, .30);
	--text-color-decoration-hover: rgba(38, 132, 186, .55);*/
	
	
	/* Asparagus */
	--text-color-decoration: rgba(107, 163, 104, .30);
	--text-color-decoration-hover: rgba(107, 163, 104, .55);


	--syntax-tab-size: 2;
}



body {

	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	line-height:1.5;
	font-size: 15px;	
	max-width:600px; /* 60rem original width */
	margin:10px auto;
	padding-left:20px;
	padding-right:20px;
}


pre {
	font-family: var(--font-family-monospace);
	font-size: 0.95em;
	padding: 10px;
	background-color: #F3EFE2;
	border: 1px solid #F3EFE2;
	border-radius: 5px;
	

}
.content{
padding-top: 40px;
}


img {
	width:100%;
}

blockquote{
	font-family: var(--font-family-quote);
	font-style: italic;
	font-size: 1.2em;
	margin-left: 0px;
	padding-left: 15px;

}


.footer {
padding-top: 50px;
display: inline-block;

}


a[href] {

	text-decoration-skip-ink: none;
	text-decoration: underline;
	/*flex-basis: calc(100% - 1.5rem);*/
	/*padding-left: .25em;*/
	/*padding-right: .5em;*/
	/*text-underline-position: from-font;*/
	text-underline-offset: -.25em;
	text-decoration-thickness: .5em;
	text-decoration-color: var(--text-color-decoration);

	color: var(--text-color-link);
}



a[href]:visited {
	/*color: var(--text-color-link-visited);*/
}

a[href]:hover,
a[href]:active {
	text-decoration-color: var(--text-color-decoration-hover);
	text-underline-offset: -.25em;
	text-decoration-skip-ink: none;
	
	/*transition-timing-function:ease-in-out;
	transition:0.5s;*/

	/*color: var(--text-color-link-active);*/
}




.nav {
padding-top: 10px;
padding-bottom: 10px;
}

.postlist {
padding-top: 3px;
padding-bottom: 3px;
}

.postlist a[href] {
	text-decoration-skip-ink: none;
	text-decoration: none;

}

.postlist a[href]:hover,
.postlist a[href]:active {
	text-decoration-skip-ink: none;
	text-decoration: underline;
	text-underline-offset: -.25em;
	text-decoration-thickness: .5em;
	
	text-decoration-color: var(--text-color-decoration-hover);
	
}

.intro {
padding-bottom: 50px;
}

.nav{

}

.nav a[href], header a[href], .architem a[href] {
	text-decoration-skip-ink: none;
	text-decoration: none;
}


.nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  text-align: center;
  padding-left: 10px;
}


.marginalia {
	float: left;
	font-weight: 800;
	font-size: 1.2em;
}

.marginalia li a {
padding-left: 0px;
}

.nav a[href]:hover,
.nav a[href]:active,
.architem a[href]:hover {
	text-decoration-skip-ink: none;
	text-decoration: underline;
	text-underline-offset: -.25em;
	text-decoration-thickness: .5em;
	
	text-decoration-color: var(--text-color-decoration-hover);
	
	/*transition-timing-function:ease-in-out;
	transition:0.5s;*/
}

.architem{
list-style-type: none;
}



.meta {
	color: var(--text-light);
	font-size: 0.8em;
	margin: 0 0 2rem 0;
	

}

.nextprev{
padding-top: 20px;
}

