body {
	/* font-family: system-ui, sans-serif;
	-webkit-font-smoothing: antialiased; */
	
	font-family: system-ui, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,Cantarell, "Helvetica Neue", sans-serif;
	text-rendering: geometricPrecision;
	line-height:1.5;
	font-size: 13px;
	
	max-width:700px; /* 60rem original width */
	margin:10px auto;
	padding:10px;
	
}


img {
	width:100%;
}

/* Lists */

li, dd {
  margin-left: 0em;
  list-style-position: inside;
  
}

.posts li {

	margin-left: 0em;

}


li + li, li ol, li ul {
  margin-top: .1em;
}
