---
layout: default
---
<h1>{{ page.title }}{{ page.shortUrl }}</h1>
<div class='separator'></div>
        
{{ content }}
        
<!-- {% if site.disqus-id %} {% include comments.html %} {% endif %} -->

<!--<div class="post-paginate">

	next <a class="next" href="{{site.url}}{{ page.next.url }}"> {{ page.next.title }}</a>
	 | <a class="prev" href="{{site.url}}{{ page.previous.url }}">{{ page.previous.title }} </a>previous
    
</div> -->

<div class="post-paginate">

	<a class="next" href="{{site.url}}{{ page.next.url }}"> </a> <p>next{{ page.next.title }} | </p>
	<a class="prev" href="{{site.url}}{{ page.previous.url }}"> </a> <p>{{ page.previous.title }} previous</p>
    
</div>


