---
layout: default
---
<h1>{{ page.title }}{{ page.shortUrl }}</h1>
<div class='separator'></div>
        
{{ content }}
        
<!-- {% if site.disqus-id %} {% include comments.html %} {% endif %} -->

<div class="post-paginate">


{% if paginator.previous_page %}
<a href='{{site.url}}{{ page.previous.url }}'>{{ page.previous.title }} Previous</a>
{% endif %}

&mdash; {{ paginator.page }} of {{ paginator.total_pages }} &mdash;

{% if paginator.next_page %}
<a href='{{site.url}}{{ page.next.url }}'>{{ page.next.title }} Next</a>
{% endif %}


    	<!--<p>next</p><a class="next" href="{{site.url}}{{ page.next.url }}"> {{ page.next.title }}</a>
		<p>previous</p><a class="prev" href="{{site.url}}{{ page.previous.url }}">{{ page.previous.title }} ></a> -->
    
   		
	</div>


